<div class="section-title-quests">
    <h2>Quests</h2>
    <p class="clickable" role="button" onclick="add('quest')">+</p>
</div>
{{#each quests}}
    {{#if this.selected}}
        <div class="quest selected" onclick="modifySelected({{{this.i}}}); drawJournal();">
            <button id="select-quest" class="checkbox" role="checkbox">
                ●
            </button>
    {{else}}
        <div class="quest">
            <button 
                id="select-quest" 
                class="checkbox" 
                role="checkbox"
                onclick="modifySelected({{{this.i}}}); drawJournal();">
                ○
            </button>
    {{/if}}
            <input 
                type="text" 
                role="textbox" 
                class="in-out" 
                placeholder="{{this.placeholder}}" 
                value="{{this.title}}"
                onclick="modifySelected({{{this.i}}}); drawJournal();"
            > 
            <p class="clickable" onclick="del('quest', {{{this.i}}})">-</p>
        </div>
{{/each}}