<div class="section-title-tasks">
    <h2>Tasks</h2>
    <p class="clickable" role="button" onclick="add('task')">+</p>
</div>
{{#each tasks}}
    <div class="task">
        <input 
            type="text"
            role="textbox" 
            class="in-out" 
            placeholder="{{this.placeholder}}" 
            value="{{this.name}}"
        >  
        <p></p>
        <p class="clickable" role="button" onclick="add('sub', {{{this.index}}})">+</p>
        <p></p>
        <p class="clickable" role="button" onclick="del('task', {{{this.index}}})">-</p>
        <div class="subtasks">
            {{#each this.subs}}
                <div class="subtask">
                    <input 
                        type="text" 
                        role="textbox" 
                        class="in-out" 
                        placeholder="{{this.placeholder}}" 
                        value="{{this.name}}"
                    >
                    <p></p>
                    <p class="clickable" role="button" 
                    onclick="del('sub', {{{this.i}}}, {{{this.j}}})">
                        -
                    </p>
                </div>
            {{/each}}
        </div>
    </div>
{{/each}}